################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Leaderboard.slnx/FileContentIndex
/.vs
/Leaderboard/bin/Debug/net8.0
/Leaderboard/obj
